@import url(https://fonts.googleapis.com/css?family=Righteous);
*{
  padding: 0px;
  margin: 0px;
  font-family: 'Righteous', serif;
  position: relative;
  
}

.section1{
  background-color: #eec252;
  display: flex;
  justify-content: space-between;
  border: 15px solid #dfa920;
  height: 500px;
  padding: 15px;
  overflow-x: hidden; 
  overflow-y: scroll;
}

.section2{
  background-color: rgb(206, 228, 246);
  border: 15px solid rgb(159, 204, 242);
  height: 700px;
  padding: 15px;
  overflow-x: scroll; 
  overflow-y: scroll;
}

.section3{
  background-color: rgb(242, 184, 171);
  border: 15px solid  rgb(237, 145, 124);
  height: 400px;
  padding: 15px;
  overflow-x: hidden; 
  overflow-y: hidden;
  
}

.section4{
  background-color: rgb(119, 151, 172);
  border: 15px solid rgb(79, 109, 130);
  height: 500px;
  padding: 15px;
  overflow-x: hidden; 
  overflow-y: scroll;
}

.section5{
  background-color: rgb(142, 186, 157);
  border: 15px solid rgb(87, 138, 104);
  height: 500px;
  padding: 15px;
  overflow-x: hidden; 
  overflow-y: scroll;
}

h3{
  margin-left: 50px;
  width: 25%;
  margin-top: 30px;
}

.navTitle{
  margin-left: 50px;
  width: 20%;
  margin-top: 30px;
  font-size: 2em; 
  color: rgb(164, 5, 250);
  text-shadow: .10em .08em 0 rgb(236, 226, 242) ;
}

.navbar{
  background-color: rgb(186, 183, 241);
  display: flex;
  width: 100%;
  height: 100px;
  font-weight: bold;
}

ul{
  display: flex;
  justify-content: space-around;
  width: 75%;
  margin-top: 40px;
  list-style: none;
}

a{
  text-decoration: none;
  color: rgb(164, 5, 250);
  text-shadow: .10em .08em 0 rgb(236, 226, 242) ;
  font-size: 20px;
  text-transform: capitalize;
}

.picture{
  object-fit: contain;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.self{
  text-align: right;
  max-width: 400px;
  border: 10px solid rgb(212, 127, 112);
  border-radius: 20%;
  margin: 20px;
}

.intro {
  color: rgb(230, 97, 195);
  font-size: 4em; 
  text-shadow: .10em .08em 0 white ;
  
}
.introAbout{
  display: inline-block;
  margin-top: 25px;
  color: rgb(249, 229, 229);
  font-size: 3em; 
  text-shadow: .10em .08em 0 rgb(230, 97, 195);
}
span{
  color: rgb(138, 67, 139);
  text-shadow: .10em .08em 0 rgb(230 97, 195)
}

.galarySection{
  text-align: center;
  width: 25%;
}
.allPictures{
  margin-top: 3%;
  display: flex;
  justify-content: space-between;
}
.picture1 {
  text-align: right;
  max-width: 220px;
  border: 10px solid rgb(130, 128, 237);
  border-radius: 20%;
}
.picture2 {
  margin-top: 20%;
  text-align: right;
  max-width: 280px;
  border: 10px solid rgb(158, 156, 231);
  border-radius: 20%;
}
.picture3 {
  text-align: right;
  max-width: 220px;
  border: 10px solid rgb(130, 128, 237);
  border-radius: 20%;
}
.picture4 {
  margin-top: 20%;
  text-align: right;
  max-width: 280px;
  border: 10px solid rgb(158, 156, 231);
  border-radius: 20%;
}
.sectionsHeader{
  font-size: 40px;
  color: rgb(20, 112, 188);
  text-shadow: .10em .08em 0 rgb(223, 188, 239)
  
}
.aboutMePar{
  color: rgb(72, 10, 116);
  text-shadow: .10em .08em 0 rgb(234, 221, 240);
  letter-spacing: 1px;
  margin: 20px;
  font-size: 1.2em;
}
.pictureDescription{
  color: rgb(184, 125, 226);
  text-shadow: .10em .08em 0 rgb(53, 12, 72);
  font-size: 1.2em;
}
.icon{
  height: 100px;
}
.iconSection{
  text-align: center;
  max-width: 150px;
  
}
.iconsGroup{
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}
.sectionsHeader2{
  font-size: 40px;
  color: rgb(247, 3, 129);
  text-shadow: .10em .08em 0 #731f3c
}